<!DOCTYPE>
<html>
	<head>
		<style type="text/css">
			.block{
				display: flex;
				border:1px solid #000;
			}
			.item{
				border:1px solid #aa00aa;
				width:100px;
				height:100px;
				flex-shrink:1;
			}
		</style>
	</head>
	<body>
		<div class="block">
			<div class="item">

			</div>
			<div class="item">

			</div>
			<div class="item">

			</div>
			<div class="item">

			</div>
			<div class="item">

			</div>
			<div class="item">

			</div>
			<div class="item">

			</div>
			<div class="item">

			</div>
			<div class="item">

			</div>
		</div>
	</body>
</html>